//**
// Homepage
//**


// Sections
@include mobilefirst(1101px) {
    .section--header {
        height: 100px;
        a {
            width: 200px;
        }
    }
}

@include responsive(1100px) {
    .section--header {
        a {
            width: 130px;
        }
    }
}

@include responsive(700px) {
    .section--header {
        height: 135px;
        position: relative;
        li {
            float: left;
            clear: both;
            text-align: left;
        }
        a {
            line-height: 18px !important;
        }
    }

    #t-logo {
        position: absolute;
        top: 30px;
        right: 12px;
    }
}

.section--header {
  // @include border-top-radius(20px);
  background-color: $g-gray;
  overflow: hidden;
  vertical-align: middle;
  nav {
    vertical-align: middle;
  }
  ul {
    text-align: center;
    vertical-align: middle;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    padding: 0;
  }
  li {
    display: inline-block;
    vertical-align: middle;
  }
  a {
    color: $white;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 75px;
    padding: 0;
  }
  a:hover {
    color: $g-yellow;
  }
  img {
    width: auto;
    height: 75px;
    vertical-align: middle;
  }
}

.section--portfolio {
  background-color: $white;
}

.section--about {
  background-color: $g-cream;
  padding-top: 65px;
  padding-bottom: 65px;
  h2 {
    line-height: 1em;
    color: $g-red;
  }
  a {
    color: $g-gray;
  }
  a:hover {
    color: $g-yellow;
  }
}

.about--pic {
    margin: 0 auto 35px auto;
    text-align: center;
}

.section--contact {
  background-color: $g-gray;
  color: $white;
  padding-top: 32px;
  padding-bottom: 32px;
}


@include mobilefirst(641px) {
    .section--footer {
        li {
            line-height: 75px;
        }
        li:first-child  {
            float: left;
        }
        li:last-child {
            float: right;
        }
    }
}

@include responsive(640px) {
    .section--footer {
        position: relative;
        li {
            line-height: 18px;
        }
        li:first-child {
            float: left;
            clear: both;
            margin-top: 20px;
        }
        li:last-child {
            float: left;
            clear: both;
        }
    }
    #b-logo {
        position: absolute;
        right: 12px;
        top: 12px;
    }
}

.section--footer {
  // @include border-bottom-radius(20px);
  background-color: $black;
  color: $white;
  height: 100px;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
  ul {
    text-align: center;
    vertical-align: middle;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    padding: 0;
  }
  li {
    display: inline-block;
    vertical-align: middle;
  }
  img {
    width: auto;
    height: 75px;
    vertical-align: middle;
  }
  a {
    color: $white;
    text-decoration: none;
  }
  a:hover {
    color: $g-yellow;
  }
}


// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
